// general
$primary: #8987DF;
$secondary: #343434;
$tertiary: #7f7f7f;
$additional-font: #8269D8;

// footer
$footer-background-color: $primary;
$footer-title-color: #fff;
$footer-text-color: #fff;
$footer-item-disc-color: $secondary;

// dashboard
$dashboard-line-color-price: $tertiary; // price left border

$dashboard-banner-chart-legend-value-color: $additional-font; // chart labels

$dashboard-stats-item-value-color: $additional-font; // stat values

$dashboard-stats-item-border-color: $secondary; // stat border

$dashboard-banner-gradient-start: $primary; // gradient begin

$dashboard-banner-gradient-end: lighten($primary, 5); // gradient end

$dashboard-banner-network-plain-container-background-color: #02314b; // stats bg


// navigation
.navbar { box-shadow: 0px 0px 30px 0px rgba(75, 2, 30, 0.12); } // header shadow
$header-icon-border-color-hover: $tertiary; // top border on hover
$header-icon-color-hover: $tertiary; // nav icon on hover
.dropdown-item:hover, .dropdown-item:focus { background-color: $tertiary !important; } // dropdown item on hover

// buttons
$btn-line-bg: #fff; // button bg
$btn-line-color: #02314b; // button border and font color && hover bg color
$btn-copy-color: #02314b; // btn copy
$btn-qr-color: #02314b; // btn qr-code
$btn-contract-color: #02314b;
//links & tile
.tile a { color: $tertiary !important; } // links color for badges
.tile-type-block {
    border-left: 4px solid #02314b;
} // tab active bg

// card
$card-background-1: $tertiary;
$card-tab-active: $tertiary;
